@model WMS_bitirme2.Models.StockMovement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockMovement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelf.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miktar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miktar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HareketTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HareketTipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
